In [2]:
a = 8
if a >= 10:
    print(True)
else:
    print(False)

False

In [3]:
a = 12
if a >= 10:
    print(True)
else:
    print(False)

True

In [31]:
b = 10
if b * 10 == 100:
    print(True)
else:
    print(False)

True

In [30]:
c = 'apple'
if c + 'juice' == 'applejuice':
    print(True)
else:
    print(False)

True

In [29]:
d = 10
if d * 10 == 1000:
    print(True)
else:
    print(False)

False

In [33]:
e = 'banana'
if e + 'ban' == 'nana':
    print(True)
else:
    print(False)

False

In [34]:
f = 100
if f > 89:
    print(True)

True

In [63]:
g = 99
if g <= 100:
    print(True)

True

In [61]:
h = 200
if h == 200:
    print(True)

True

In [39]:
i = 100
if i >= 101:
    print(True)
else:
    print(False)

False

In [40]:
j = 150
if j != 150:
    print(True)
else:
    print(False)

False

In [44]:
k = 200
if k == 201:
    k += 1
    print(True)
else:
    print(False)

True

In [66]:
my_list = [1,2,3,4,5]
print(1 in my_list)

True

In [67]:
print(10 in my_list)

False

In [68]:
l = None
print(l is None)

True

In [69]:
print(l is not None)

False

In [71]:
m = 100
if m != 100 and m < 99:
    print(True)
else:
    print(False)

False

In [74]:
n = 'orange'
if n == 'star' and n != 'orange':
    print(True)
else:
    print(False)

False

In [82]:
o = [0,1,2,3,4,5]
for o in o:
    print(o)

0
1
2
3
4
5

In [83]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [84]:
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [85]:
for i in my_list:
    if i % 2 == 1:
        print(i)

1
3
5

In [107]:
for my_list in range(3):
    print(my_list)

0
1
2

In [108]:
for my_list in range(3, 6):
    print(my_list)

3
4
5

In [105]:
for my_list in range(2 ,5):
    print(my_list)

2
3
4

In [126]:
my_list2 = ['okinawa', 'fukuoka', 'osaka', 'tokyo', 'hokkaido']
print(my_list2[0:1])

['okinawa']

In [4]:
my_list3 = []
for i in my_list2:
    if len(i) >= 5:
        my_list2 -= 'tokyo'
        my_list3.append(i)
print(my_list3)

NameError: name 'my_list2' is not defined

In [139]:
my_list3 = []
for i in my_list2:
    if len(i) >= 6:
        my_list3.append(i)
print(my_list3)

['fukuoka', 'hokkaido', 'okinawa']

In [193]:
my_list = [0,1,2,3,4,5]
z = 0
for a in my_list:
    if a != -1:
        z += a
print(z)

15

In [194]:
x = 0
for n in my_list:
    if n % 2 == 0:
        x += n
print(x)

6

In [199]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [201]:
for x in range(11):
    if x == 4:
        break
    print(x)

0
1
2
3

In [202]:
for x in range(11):
    if x == 3:
        continue
    print(x)

0
1
2
4
5
6
7
8
9
10

In [212]:
for i in 'okinawa':
    print(i)

o
k
i
n
a
w
a

In [244]:
my_list = ["okinawa","osaka","hokkaido","tokyo","fukuoka"]
print(my_list.upper())

AttributeError: 'list' object has no attribute 'upper'

In [245]:
a = 0
while a < 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = 0
while a< 10:
    if a % 2 ==0:
        print(a)
    a += 1

In [252]:
with open('Hello.txt', 'w') as f:
    f.write('Hello!!')

In [ ]:
with open('Hello.txt','r') as f:
    lines = list(f)
print(lines)

In [257]:
with open('HelloPython.txt', 'w') as f:
    f.write('Hello Python!!')

In [259]:
with open('HelloPython.txt','r') as f:
    lines =list(f)
print(lines)

['Hello Python!!']

In [263]:
with open ('HelloPython.txt', 'r') as f:
    lines =list(f)
    my_list = []
    my_list +=  lines
print(my_list)

['Hello Python!!']

In [1]:
% load_ext autoreload

UsageError: Line magic function `%` not found.

In [2]:
% autoreload 2

UsageError: Line magic function `%` not found.

In [3]:
import load_weights

ModuleNotFoundError: No module named 'load_weights'

In [50]:
print(id(1+2+3))
print(id(4+5+6))
my_list = 1+2+3
my_list2 = 4+5+6
print(id(my_list))
print(id(my_list2))

9780960
9781248
9780960
9781248

In [1]:
a =1
b =1
print(a+b)

2

In [45]:
pwd

'/home/vagrant/PG3/CH2'